.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

.todoLi {
    white-space:nowrap;
    display:list-item;
    font-weight: bold;
    line-break: auto;
    width: 90%;
    height: 20px;
    padding:4px 8px;
    text-align:center;
    font-size:12px;
    margin-right:4px;
    background-color: rgb(192, 242, 242);
    border:solid 1px;
    text-align: left;
}

.todoLi button{
  float: inline-end;
  margin-right: 10px;
}

.catList {
  padding:4px 8px;
  text-align:center;
  font-size:12px;
  margin-right:4px;
  margin-left: 4px;
  background-color: rgb(242, 224, 192);
  border:solid 1px;
  text-align: left;
}

.catList img{
  border-radius: 50%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}



